svg.barchart, svg.groupedbar {
    width:920px;
}
svg.barchart {
    height: 200px;
}
svg.groupedbar {
    height: 400px;
}

svg.areachart {
    width:960px;
    height:500px;
}

.tooltip {
    width: 200px;
    background-color:white;
    color:black;
    border: 2px solid black;
    padding: 10px;
}

svg > g > path.domain {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}