---
layout: default-visualised
page.css: page.css
---

<h1>Non-Departmental Public Bodies</h1>
<p>Non-departmental public bodies (NDPBs) are organisations that sit at ‘arm’s-length’ from ministers and have varying degrees of operational autonomy and independence from ministers. They have differing roles, including those that advise ministers and others which carry out executive or regulatory functions, and they work within a strategic framework set by ministers. As part of the reform programme, all NDPBs have been examined to ensure that they perform a necessary role.</p>
<p>The Cabinet Office report Public bodies provides lists of all NDPBs and headline information on the NDPB sector. This data is presented on these pages.</p>


<p>In 2011 the Public Bodies Act 2011 was introduced. This allowed the Government to shutdown, merge or reform public bodies.</p>
<svg class="barchart" viewBox="0 0 960 400" preserveAspectRatio="XMidYMid meet"></svg>
<p>Some Public Bodies are given money by the Government. Others are funded privately. For instance, a public body that maintains lighthouses would collect its funds from the sailors that they help</p>
<svg class="areachart" viewBox="0 0 1000 500" preserveAspectRatio="XMidYMid meet"></svg>
<script src="/assets/toolkit/javascripts/vendor/d3/d3.v3.js"></script>

<script src="barchart.js"></script>
<script src="numeral.js"></script>
<script src="sorttable.js"></script>
<script>
  $(function() { $('table > tbody > tr > td:nth-child(3)').each(function() {
  var n = numeral($(this).text()).format('\£0,0[.]00');
  $(this).text('£' + n);
  }) });
</script>
<p>Each Department has its own public bodies. These are presented in the table below</p>
<table class="sortable" id="fundingtable">
  <thead>
    <th>Name</th><th>Department</th><th>Funding</th>
  </thead>
  <tbody>
    {% for department_entry in page.data %}
    {% for public_body in department_entry[1] %}
    <tr class="dataline" data-department="{{public_body['department']}}" data-funding="{{public_body['government-funding']}}" data-name="{{public_body['name']}}">
      <td><a href="./{{ public_body['clean-department'] }}/{{ public_body['clean-name'] }}.html">{{ public_body.name }}</a></td>
      <td>{{public_body['department']}}</td>
      <td sorttable_customkey="{{ public_body['government-funding']}}" style="font-family:'ntatabularnumbers'">{{ public_body['government-funding']}}</td>
    </tr>    
    {% endfor %}
    {% endfor %}
  </tbody>


</table>
<span> Data available under the Open Government License </span>
