---
layout: default-no-wrapper
---

<section id="content" role="main" class="group category-page">
  <header class="page-header group">
    <hgroup class="full-width">
      <h1>{{ page.data.department }}</h1>
      <h2>{{ page.title }}</h2>
    </hgroup>
  </header>
  <div class="browse-container full-width group">
    <article>
      <section>
	<p>{{page.data.description}}</p>
      </section>
      
      <figure id="spending">
	<table>
	  <thead>
	    <tr><th>Budget</th><th>Total Spent</th></tr>
	  </thead>
	  <tbody>
	  </tbody>
	  <tr><td>{{page.data['government-funding-formatted']}}</td><td>{{page.data['total-gross-expenditure-formatted']}}</td></tr>
	</table>
      </figure>

      <figure id="staff">
	<table>
	  <thead>
	    <tr><th>Position</th><th>Person</th><th>Pay</th>
	  <tbody>
	    <tr><td>Chief Executive</td><td>{{page.data.chief-executive}}</td><td>{{page.data['chief-executive-remuneration-formatted']}}</td></tr>
	    <tr><td>Chair Person</td><td>{{page.data.chair}}</td><td>{{page.data['chairs-remuneration-formatted']}}</td></tr>
	  </tbody>
	</table>
      </figure>
      
      <h1>Contact</h1>
      
      {% if page.data.website != 'http://None' %}<p>Web: <a href='{{page.data.website}}'>{{page.data.website}}</a></p>{% endif %}
      <p>Email: <a href='mailto:{{page.data.email}}'>{{page.data.email}}</a></p>
      <p>Telelphone: {{page.data.phone}}</p>
      <p>Post: {{page.data.address}}</p>
      
      <span> Data available under the Open Government License </span>
      
    </article>
  </div>
</section>
